<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv = "Content-Type" content = "text/html" />
    <title><TMPL_VAR REPORTNAME></title>
    <link href="master.css" rel="stylesheet">
    <style>
        #chartdiv { width: 100%; height: 1000px; }
    </style>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
</head>
<body>
    <h3>Expenses by percentage compared with the last month incomes</h3>
    <hr>
    <div id="chartdiv"></div>
    <TMPL_LOOP ERRORS>
        <hr><TMPL_VAR ERROR>
    </TMPL_LOOP>
</body>
<script>
    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    var chart = am4core.create("chartdiv", am4charts.PieChart3D);
    chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

    chart.data = [<TMPL_LOOP NAME=CONTENTS>
    {
        category: '<TMPL_VAR Category>',
        percentage: <TMPL_VAR Percentage>,
        ammount: <TMPL_VAR Ammount> * -1
    },
    </TMPL_LOOP>
    ];

    chart.innerRadius = am4core.percent(40);
    chart.depth = 120;

    chart.legend = new am4charts.Legend();

    let savingsEntry = {
        category: 'Ahorro',
        percentage: 100 - chart.data[0].percentage,
        ammount: (100 * chart.data[0].ammount / chart.data[0].percentage) - chart.data[0].ammount
        };
    chart.data.push(savingsEntry);
    chart.data.shift();

    var series = chart.series.push(new am4charts.PieSeries3D());
    series.labels.template.text = "{category}: {value} €";
    series.dataFields.value = "ammount";
    series.dataFields.depthValue = "ammount";
    series.dataFields.category = "category";
    series.slices.template.cornerRadius = 5;
    series.colors.step = 3;
    chart.fontSize = 20;

	</script>
</html>