<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv = "Content-Type" content = "text/html" />
    <title><TMPL_VAR REPORTNAME></title>
    <link href="master.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <style>
	tr.line.Repeats:nth-child(odd) { background-color: #FFF9A8; }
	tr.line.Repeats { background-color: #FFFBC7; font-family: 'Muli', sans-serif; }
	tr.line:nth-child(odd) { background-color: #DDF1FC; }
	tr.line { background-color: #B5E2FA; font-family: 'Muli', sans-serif; }
	.table>thead>tr>th { background: #5D576B; color: #FFFFFF; font-family: 'Muli', sans-serif;}
	.ellipsis {width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
	.ellipsis2 {width: 330px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    </style>
</head>
<body>
<div class = "container">
<h3><TMPL_VAR REPORTNAME></h3><hr>

<div class = "row">
<div class = "col-xs-12">
<table class="table">
    <thead>
        <tr>
            <th style="width: 100px;">Date</th>
            <th>Account</th>
            <th>Payee</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th style="display:none;">Status</th>
            <th style="display:none;">Type</th>
            <th style="text-align: right;">Amount</th>
            <th style="text-align: right;">Sum</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
<TMPL_LOOP NAME=CONTENTS>        <tr class='line <TMPL_VAR Status>'>
            <td class="date"><TMPL_VAR Moment></td>
            <td><div class="ellipsis"><a href="trxid:<TMPL_VAR ID>"><TMPL_VAR Source></a></div></td>
            <td><div class="ellipsis"><a href="trxid:<TMPL_VAR ID>"><TMPL_VAR Payee></a></div></td>
            <td><div class="ellipsis"><TMPL_VAR Category></div></td>
            <td><div class="ellipsis"><TMPL_VAR Subcategory></div></td>
            <td class="status" style="display:none"><TMPL_VAR Status></td>
            <td class="type" style="display:none"><TMPL_VAR Type></td>
            <td class="money" sorttable_customkey="<TMPL_VAR Ammount>"><TMPL_VAR Ammount></td>
            <td class="subtotal"></td>
            <td><div class="ellipsis2"><TMPL_VAR Notes></div></td>
        </tr></TMPL_LOOP>
    </tbody>
    <tfoot>
    </tfoot>
</table>
</div></div></div>
<TMPL_LOOP ERRORS>
    <hr>    <TMPL_VAR ERROR>
</TMPL_LOOP>

</body>
<script>
    var lines = document.getElementsByClassName('line');
    var totalSoFar = 0;
    for(var i=0;i!==lines.length;i++){
        var currentLine = lines[i];
        //Positive or negative ammount depending on the type of the line
        if (currentLine.querySelector('.type').innerText!=='Deposit'){
            currentLine.querySelector('.money').innerText = '-' + currentLine.querySelector('.money').innerText;
        } 
        totalSoFar += Number(currentLine.querySelector('.money').innerText);
        currentLine.querySelector('.subtotal').innerText = totalSoFar.toFixed(2);
        currentLine.querySelector('.date').innerText = new Date(currentLine.querySelector('.date').innerText.substring(0, 10)).toLocaleDateString();

        if (currentLine.className === "line Repeats")
        {
            currentLine.cells[1].innerHTML = '<div class="ellipsis">' + currentLine.cells[1] .innerText + '</div>';
            currentLine.cells[2].innerHTML = '<div class="ellipsis">' + currentLine.cells[2].innerText + '</div>';
        }
    }

    // Format double to base currency
    function currency(n) {
        n = parseFloat(n);
        n = isNaN(n) ? 0 : n.toFixed(2);
        var out = n.toString().replace(".", "|");
        out = out.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        out = out.replace("|", ",");
        return out;
    }

    function applyMoneyFormat(elements) {
        for (var i = 0; i < elements.length; i++) {
            var element = elements[i];
            element.style.textAlign = 'right';
            if (element.innerHTML.indexOf("-") > -1) {
                element.style.color = "#ff0000";
            }
            element.innerHTML = currency(element.innerHTML) + '€';
        }
    }

    applyMoneyFormat(document.getElementsByClassName("money"));
    applyMoneyFormat(document.getElementsByClassName("subtotal"));
</script>
</html>